@using kdoc.Model
@model DocMethodSet

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Name;
    var urlBuilder = (DefaultSiteTemplate.IDocUrlBuilder)Context.RequestServices.GetService(typeof(DefaultSiteTemplate.IDocUrlBuilder));
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>@Model.Name</h1>
            <p class="lead">@Model.Summary</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Overloads</h2>
            <ul>
                @foreach (var o in Model.Overloads)
                {
                <li><a href="@urlBuilder.Url(o.DocId)">@o.Name</a></li>
                }
            </ul>
        </div>
    </div>
</div>