@using kdoc.Model
@model DocNamespace

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var urlBuilder = (DefaultSiteTemplate.IDocUrlBuilder)Context.RequestServices.GetService(typeof(DefaultSiteTemplate.IDocUrlBuilder));
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>@Model.Name</h1>
            <p class="lead">@Model.Summary</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Types</h2>
            <ul>
                @foreach (var t in Model.Types)
                {
                <li><a href="@urlBuilder.Url(t.DocId)">@t.Name</a></li>
                }
            </ul>
        </div>
    </div>
</div>