@using kdoc.Model
@model DocPackage

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Name;
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>@Model.Name</h1>
            <p class="lead">@Model.Summary</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Assemblies</h2>
            <ul>
                @foreach (var a in Model.Assemblies)
                {
                    <li><a href="@DocUrlHelper.Url(a.DocId)">@a.Name</a></li>
                }
            </ul>
        </div>
    </div>
</div>